*{
	border:0;
	margin:0;
	padding:0;
}

body{
	background: #ccc;
}
#contenedor{
	background: #FFF;
	height: 600px;
	width: 1024px;
	margin-right: auto;
	margin-left: auto;
}
header, #texto, #menu{
	background: #fff;
	width: 1024px;
	height: 50px;

}
#texto{
	background: #666;
	height: 460px;
}

#linea{
	background: green;
	height: 40px;
}

#menu{
	background: red;
	height: 100px;

}